* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 50px 100px;
}
button {
  margin-left: 20px;
}
.recipeInfo {
  display: flex;
  gap: 40px;
}
h2 {
  padding-bottom: 15px;
}
h3 {
  padding-bottom: 15px;
  padding-top: 10px;
}
p {
  padding-bottom: 15px;
}
.timer {
  display: flex;
}
mat-icon {
  margin-left: 6px;
}
.recipes {
  display: flex;
  gap: 40px;
}
.select-btns {
  display: flex;
  padding-bottom: 20px;
}
.cuisines {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cuisine-info {
  max-width: 300px;
}
.cuisine-info img {
  width: 300px;
}
.cuisine-info h3 {
  padding: 9px;
}
